.root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.items {
  display: flex;
  gap: 2rem;
}

.horizontal .items {
  flex-direction: column;
}

.vertical .items {
  gap: 0.5rem;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 0;
}

.vertical .item {
  flex: 0 1 100%;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

.item__header {
  display: flex;
  font-size: 0.875rem;
}

.horizontal .item__header {
  gap: 4rem;
  align-items: flex-end;
  justify-content: space-between;
}

.vertical .item__header {
  flex: 1;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.item__title {
  white-space: break-spaces;
}

.vertical .item__title {
  flex: 1;
}

.subquestion {
  font-weight: 700;
}

.subquestion:empty {
  display: none;
}

@media (min-width: 38rem) {
  .subquestion {
    font-size: 1.2rem;
  }
}

.item__value {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  white-space: nowrap;
}

.vertical .item__value {
  flex-direction: column;
}

.item__count {
  color: hsl(var(--text-color--tertiary));
  font-weight: 400;
  font-size: 0.75rem;
}

@media (max-width: 34rem) {
  .item__count {
    display: none;
  }
}

.item__percentage {
  font-weight: 700;
}

.item__bar {
  position: relative;
  overflow: hidden;
  background-color: hsl(var(--surface-3) / 0.6);
}

.item__bar::after {
  --s: calc(var(--p, 0) / 100);

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-color: hsl(var(--color--cyber-green-5));
  transition: scale 0.25s ease-out;
  content: "\0020";
}

.horizontal .item__bar {
  width: 100%;
  height: 1.25rem;
  border-radius: 0.25rem;
}

.horizontal .item__bar::after {
  transform-origin: 0 50%;
  scale: var(--s) 1;
}

.vertical .item__bar {
  width: 100%;
  max-width: 4rem;
  height: 8rem;
  border-radius: 0.5rem;
}

.vertical .item__bar::after {
  transform-origin: 50% 100%;
  scale: 1 var(--s);
}

.empty {
  color: hsl(var(--text-color--tertiary));
  font-size: 0.875rem;
  font-style: italic;
}
