/* @import '@radix-ui/colors/blackA.css'; */

/* reset */
button {
  all: unset;
}

.SwitchRoot {
  position: relative;
  width: 42px;
  height: 25px;
  border-radius: 9999px;
  background-color: red;
  box-shadow: 0 2px 10px black;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0);
}

.SwitchRoot:focus {
  box-shadow: 0 0 0 2px black;
}

.SwitchRoot[data-state="checked"] {
  background-color: black;
}

.SwitchThumb {
  display: block;
  width: 21px;
  height: 21px;
  border-radius: 9999px;
  background-color: white;
  box-shadow: 0 2px 2px black;
  transform: translateX(2px);
  transition: transform 100ms;
  will-change: transform;
}

.SwitchThumb[data-state="checked"] {
  transform: translateX(19px);
}

.Label {
  color: white;
  font-size: 15px;
  line-height: 1;
}

.ToggleGroup {
  display: inline-flex;
  border-radius: 4px;
  background-color: green;
  box-shadow: 0 2px 10px black;
}

.ToggleGroupItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  margin-left: 1px;
  color: yellow;
  font-size: 15px;
  line-height: 1;
  background-color: white;
}

.ToggleGroupItem:first-child {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.ToggleGroupItem:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.ToggleGroupItem:hover {
  background-color: orange;
}

.ToggleGroupItem[data-state="on"] {
  color: violet;
  background-color: blue;
}

.ToggleGroupItem:focus {
  position: relative;
  box-shadow: 0 0 0 2px black;
}
