.content {
  display:flex;
  width:100vw;
}

.container {
  width:100%;
  max-width:50rem;
  flex:1;
}

/**/

.main {
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:6rem 2rem 4rem;
  
  flex:1;
  height:100%;
}
@media (min-width:60rem) {
  .sidebar__active + .main {
    margin-right:var(--sidebar-w);
  }
}

.sidebar {
  position:fixed;
  top:var(--header-h);
  right:0;
  padding:2rem;
  width:var(--sidebar-w);
  height:calc(100vh - var(--header-h));
  border-left:1px solid var(--border-color--default);
  flex-direction:column;
  gap:2rem;
  z-index:999;
  translate:100% 0;
  background-color:hsl(var(--surface-0));
}
@media (min-width:60rem) {
  .sidebar {
    display:flex;
  }
}
.sidebar__active {
  translate:0;
}

.sidebar__toggle {
  position:absolute;
  bottom:1rem;
  left:-5rem;
  display:flex;
  align-items:center;
  justify-content:center;
  width:4rem;
  height:4rem;
  border-radius:100rem;
  background-color:hsl(var(--surface-3));
  box-shadow:var(--box-shadow--default);
  transition:all .12s;
  cursor:pointer;
}
.sidebar__toggle:hover {
  background-color:hsl(var(--surface-4));
}
@media (min-width:60rem) {
  .sidebar__toggle {
    bottom:2rem;
    left:-6rem;
  }
}

/**/

.sections {
  display:flex;
  flex-direction:column;
  gap:6rem;
}

.section {
  display:flex;
  flex-direction:column;
  gap:2rem;
}

.section__header {}

.section__title {
  font-size:1.5rem;
}

.section__body {
  display:flex;
  flex-direction:column;
  gap:2rem;
}