.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  width: 100vw;
  height: var(--header-h);
  padding: 0 1rem;
  border-bottom: 1px solid var(--border-color--default);
  background-color: hsl(var(--surface-0) / 0.8);
  backdrop-filter: blur(20px);
}

.header__link {
  display: flex;
}

.header__logo {
  position: absolute;
  top: 50%;
  left: 1rem;
  display: flex;
  flex: 2 1 100%;
  align-items: center;
  color: #fff;
  translate: 0 -50%;
}

.header__logo svg {
  width: 100%;
  max-width: 8rem;
  height: auto;
}

.header__title {
  display: flex;
  flex: 2 1 100%;
  align-items: center;
  justify-content: center;
  padding: 0 4rem;
  font-weight: 700;
  font-size: 0.8rem;
  text-align: center;
}

.header__actions {
  position: absolute;
  top: 50%;
  right: 1rem;
  display: flex;
  flex: 2 1 100%;
  align-items: center;
  color: #fff;
  translate: 0 -50%;
}

.header__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: var(--border-radius--default);
  background-color: hsl(var(--surface-2));
  cursor: pointer;
  transition: all 0.12s;
}

.header__toggle:hover {
  background-color: hsl(var(--surface-3));
}
