.root {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: hsl(var(--surface-1));
  border-radius: var(--border-radius--default);
  padding: 1rem;
}
@media (min-width:38rem) {
  .root {
    gap: 3rem;
    padding: 4rem;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.title {
  font-size: 1.4rem;
  font-weight: 700;
}
@media (min-width:38rem) {
  .title {
    font-size:1.8rem;
  }
}

.total {
  display: flex;
  font-size: 0.875rem;
  color: hsl(var(--text-color--tertiary));
}

.body {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}