.root {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  border-radius: var(--border-radius--default);
  background-color: hsl(var(--surface-1));
}

@media (min-width: 38rem) {
  .root {
    gap: 3rem;
    padding: 4rem;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-weight: 700;
  font-size: 1.4rem;
}

@media (min-width: 38rem) {
  .title {
    font-size: 1.8rem;
  }
}

.total {
  display: flex;
  color: hsl(var(--text-color--tertiary));
  font-size: 0.875rem;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
