.question {
  display: flex;
  flex-direction: column;
  gap:1rem;
  background-color: hsl(var(--surface-1));
  border-radius: var(--border-radius--default);
  padding:1rem;
}
@media (min-width:38rem) {
  .question {
    padding:4rem;
  }
}

.question__header {
  display:flex;
}

.question__title {
  font-size: 1.4rem;
  font-weight: 700;
}

.question__body {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}